<?xml version="1.0" encoding="UTF-8"?>
<modules>
    <module name="register-beginner">
        <ns>\Apps\Register\Beginner</ns>
        <label>Registration: Beginner</label>
       <admin enabled="1">registration/Apps/views/beginner-registration.php</admin>
        <widget enabled="1" adminLink="1" name="Form: Beginner Registration">Widgets/views/beginnerRegistration.php</widget>
        <icon>registration/assets/img/dashboard_icon.png</icon>
        <help>Use this tool to add Beginner Session information, view submissions and manage registrations. An email tool enables 
        administrators to send messages to individuals or the group.</help>
    </module>
    <module name="register-intermediate">
        <ns>\Apps\Register\Intermediate</ns>
        <label>Registration: Intermediate</label>
       <admin enabled="1" adminLink="1">registration/Apps/views/intermediate-registration.php</admin>
        <widget enabled="1" adminLink="1" name="Form: Intermediate Registration">Widgets/views/intermediateRegistration.php</widget>
        <icon>registration/assets/img/dashboard_icon.png</icon>
        <help>Use this tool to add Beginner Session information, view submissions and manage registrations. An email tool enables 
        administrators to send messages to individuals or the group.</help>
    </module>
    <module name="register-sidenav">
        <widget enabled="1" adminLink="0" name="Form: Registration Side Nav">Widgets/views/registrationSideBar.php</widget>
    </module>
    <module name="register-seasons">
        <ns>\Apps\Register\Seasons</ns>
        <label>Registration: Seasons</label>
       <admin enabled="1" adminLink="1">registration/Apps/views/seasons.php</admin>
        <widget enabled="1" adminLink="1" name="Seasons: Sidebar">Widgets/views/seasonDetails.php</widget>
        <icon>registration/assets/img/registration_fencing_icon.png</icon>
        <help>Use this tool to add details about the current/upcoming club season including start dates and fees.</help>
    </module>
    <module name="register-club">
        <widget enabled="1" adminLink="0" name="Form: Club Registration">Widgets/views/clubRegistration.php</widget>
    </module>
</modules>
