/* Calendar Styles
-----------------------------------------------------------------------------------------------------*/
 
/* Defaults */
 
 
#adminCalendarWrap { width:100%; background-color:#FFF; }
#adminCalendarWrap .fc-header { background: #DFE3EA; border:1px solid #999; } /* Header background color */
#adminCalendarWrap .fc-header .fc-state-default, #adminCalendarWrap .fc-header .ui-state-default { border-color:#333; }
 
#adminCalendarWrap .fc-header .fc-state-default {
	background:url(/src/LondonFencing/calendar/assets/img/calendarBtnBack.png) repeat-x top #E7E8EC; 
	color:#333; 
	/*-moz-box-shadow:inset 2px 0px 0px rgba(255,255,255,0.4);
	-webkit-box-shadow:inset 1px 1px 0px rgba(255,255,255,0.4);
	box-shadow:inset 2px 0px 0px rgba(255,255,255,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.4);*/
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px; 
} /* Button Style */
 
#adminCalendarWrap .fc-header .fc-state-default span:hover { background:#E7E8EC; }
#adminCalendarWrap .fc-header .fc-state-default, #adminCalendarWrap .fc-header .fc-state-default a { border-color:#B3B4B7; }
#adminCalendarWrap .fc-header .fc-state-active span { background:#E7E8EC; }
#adminCalendarWrap .fc-header .fc-state-disabled span { background:#E7E8EC; }
#adminCalendarWrap .fc-header .fc-state-disabled, #adminCalendarWrap .fc-header .fc-state-disabled a { border-color:#B3B4B7; }
 
#adminCalendarWrap #leftColAdmin { background-color:#F2F3F7; width:14%; } /* Left Col Background Color and Width */
#adminCalendarWrap #leftColAdmin p { color:#758192; }
 
#adminCalendarWrap #centreCol { width:78%; } /* Centre Col Width */
 
#adminCalendarWrap .calendarsListItem { border-bottom:1px dotted #C6CBD3; } 
#adminCalendarWrap .fc-content .fc-state-highlight {	background-color:#DFE3EA; } /* Hightlight Color */
 
.ui-dialog { border:2px solid #B3B4B7 !important; }
.ui-widget-header {
	background:url(/src/LondonFencing/calendar/assets/img/calendarBtnBack.png) repeat-x top #E7E8EC !important; 
	color:#333 !important; 
	-moz-box-shadow:inset 2px 0px 0px rgba(255,255,255,0.4);
	-webkit-box-shadow:inset 1px 1px 0px rgba(255,255,255,0.4);
	box-shadow:inset 2px 0px 0px rgba(255,255,255,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.4);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
 
 
/* Stuff to change per project */
 
 
/* Main Structure Styles - don't really need to touch this */
 
#adminCalendarWrap {
	float:left;
	position:relative;
}
 
#adminCalendarWrap .fc-header {
	position:absolute;
	top:0px;
	left:0px;
	padding:10px;
	width:100%;
}
 
#adminCalendarWrap .fc-header tr td { padding:10px 10px 8px 10px; }
#adminCalendarWrap .fc-header tr td table tr td{ padding:0px; }
.fc-header-right .fc-state-default{margin-right:5px}
 
#adminCalendarWrap .fc-header .fc-state-default, #adminCalendarWrap .fc-header .ui-state-default { margin-bottom:0px; }
 
#adminCalendarWrap .fc-header .fc-state-default{
	font-size:11px;	
	border:none;
	padding:5px 7px;
}
 
#adminCalendarWrap .fc-header-space { padding-left:5px; }  
 
#adminCalendarWrap #leftColAdmin {
	float:left;
	border-right:1px solid #999;
	border-left:1px solid #999;
	border-bottom:1px solid #999;
	bottom:0px;
	top:0px;
	position:absolute;
	padding:20px;
	font-size:11px;
	margin-top:40px;
	overflow:scroll;
}
 
#calsList { list-style:none; margin:5px 0px 10px 0px; }
 
#adminCalendarWrap #leftColAdmin p {
	text-transform:uppercase;
	font-size:10px;
	font-weight:bold;
	margin-top:15px;
}
 
#adminCalendarWrap #leftColAdmin form {
	margin-top:5px;
}
 
#adminCalendarWrap .calendarsListItem {
	padding:5px 0px;
}
 
#adminCalendarWrap #centreCol {
	padding:20px;
	background-color:#FFF;
	float:right;
	margin-top:35px;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
}
 
#adminCalendarWrap .fc-header-title {
	font-size:22px;
	margin-bottom:10px;
	text-align:center;
}
 
#adminCalendarWrap .fc-content .fc-state-default {
	border-color:#D5D5D5;
}
 
.fc-content .fc-corner-left a { margin-left:0px !important; border-color:transparent !important; }
.fc-content .fc-corner-left.recur_allDay_15 a { margin-left:-1px !important; border-color:transparent !important; }
 
#adminCalendarWrap .fc .fc-grid th { color:#333; font-weight:normal; font-size:11px; padding:5px 0px; }
#adminCalendarWrap .fc .fc-first th { color:#333; font-weight:normal; font-size:11px; padding:5px 0px; }
 
#frmEditEvents tr td { padding:5px; font-size:11px; color:#777; }
#frmEditEvents tr td strong { color:#333; }
 
#frmNewCalendar { font-size:11px; color:#777; }

.fc-state-default a{cursor:pointer;text-decoration:none;background-color:none}
.fc-state-hover{background:none}