div.tagsinput { border:1px solid #CCC; background: #FFF; padding:5px; margin:0px 0px 0px 5px; width:165px !important; height:50px !important; overflow-y: auto;}
div.tagsinput span.tag { border: 1px solid #73A1D0; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 2px; text-decoration:none; background: #6E93B0; color: #FFFFFF; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:10px;}
div.tagsinput span.tag a { font-weight: bold; color: #FFFFFF; text-decoration:none; font-size: 10px;  } 
div.tagsinput input { width:60px; margin:0px; font-family: helvetica; font-size: 10px; border:1px solid transparent; padding:0px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
div.tagsinput div { display:block; float: left; } 
.tags_clear { clear: both; width: 100%; height: 0px; }
#contactSheet {
height: 466px;
overflow: scroll;
}
div#upload_tags_input_tagsinput {width: 450px !important;}

.boxReturn {padding: 40px 0 10px 0}

div.tagsinput { display:inline-block;}
div.tagsinput span.tag{ background: #cbdeeb; color : #234E70; border-color: #6E93B0}
div.tagsinput span.tag a{color : #234E70}
#tag_cloud {
    clear:   both;
    margin-left: 0px;
    width: 500px;
}
#tag_cloud li {
    list-style: none;
    display:    inline;
    padding: 0 5px 0 5px;
    line-height: 28px;
}

#tag_cloud li a{
        background: #cbdeeb; 
        color : #234E70; 
        border: 1px solid #6E93B0; 
        padding: 3px; 
        -moz-border-radius:2px; 
        -webkit-border-radius:2px; 
}
/* Photo Gallery */

.contactSheetItem { 
    background: url("/admin/img/transparency/5pb.png") repeat scroll 0 0 transparent;
    border: 1px solid #CFCFCF;
    float: left;
    margin-bottom: 12px;
    margin-right: 12px;
    padding: 20px;
    width: auto;
}

.photoBox {
	margin-top: 0px;
}
div.mediaContactSheetFile {
	
	display:block;
	width: 290px;
	height:130px;
	background: white;
	border:1px solid #CCCCCC;
	padding:5px;
	margin:5px;
	float:left;
	text-align:center;
	


}

div.mediaContactSheetFile img {
	border:1px solid #CCCCCC;
	padding:2px;
}

div.mediaContactSheetFile  textarea.mediaTitle {
	width:170px;
	height:30px;
	font-size:10px;
	margin:0px 0px 0px 4px;

}
 
 
div.mediaContactSheetFile  input.btnStyle {
	font-size:10px;
	/*
padding:5px;
	
*/
	margin-left:5px;
	margin-top: 5px;
	width:85px;
	padding:0px;
	height:20px;
	line-height: 0px;
}

div.mediaContactSheetFile input.mediaTags {
	width:114px;
	height:37px;
	font-size:10px;

}
.contactSheetP{
    font-family: droidSansB,Helvetica,Arial,sans-serif;
    font-size: 16px;
    margin-left: 10px;
}

#frmEditTag table, #frmEditTag table tr td{ border-bottom: none}
#dvTagCloud table, #frmNewTags table, #frmNewTags table tr td, #dvTagCloud table tr td{border-top:none}