/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

@font-face {
	font-family: 'londonfencing';
	src:url('fonts/londonfencing.eot?dt2kru');
	src:url('fonts/londonfencing.eot?#iefixdt2kru') format('embedded-opentype'),
		url('fonts/londonfencing.woff?dt2kru') format('woff'),
		url('fonts/londonfencing.ttf?dt2kru') format('truetype'),
		url('fonts/londonfencing.svg?dt2kru#londonfencing') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
	font-family: 'londonfencing';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
        font-size: 28px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.4; background-image:url('/themes/LondonFencing/img/pattern.jpg');}

body, button, input, select, textarea { font-family: 'Open Sans', sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #90DE57; color: #fff; text-shadow: none; }
::selection { background: #90DE57; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { 
    cursor: pointer; 
}

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
#loginBox{
    width: 90%;
    max-width: 400px;
    padding: 0;
    margin: 10% auto;
}
#loginBox form{
    background-color: white;
    padding: 30px;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
}
#loginBox img{
    margin: 10px 0;
}
#loginBox .loginBoxHead{
    background-color: rgba(74,118,43, 0.83);
    text-align: center;
}
#loginBox form div{
    margin-bottom: 10px;
}
#loginBox span.label, #loginBox span.nfo{
    display:inline-block;
    width: 45.5%;
    padding: 0 4px;
}
#loginBox span.nfo{
    margin-left: 1%;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 4px;
}
/* =============================================================================
   Tables
   ========================================================================== */
   
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Clear
   ========================================================================== */
   
.blank .clear, .blank .clearfix, .clear, .blankFooter {
	height: 0;   
} 
   
   
/* ==|== primary styles =====================================================
   Author: Resolution Interactive Media
   ========================================================================== */

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    position: relative;
}

#container {
    margin: 124px auto 0 auto;
    position: relative; 
    padding: 0;
}

#content {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.two-column #content{
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
}

h1 { font-size: 28px; margin-top: 0; color:#fff }
h2 { font-size: 24px; color: #555;text-transform: uppercase; }
h3 { font-size: 18px; }
h4 { font-size: 15px; color: #707070; }
h5 { font-size: 13px; }
h6 { font-size: 11px; }

h1, h2, h3 {font-weight: bold;}


#twitter h6 { padding: 0 0 0 10px; }

.left { float: left; }
.right { float: right; }

/*h2 page title---------------------------------------------------------------- */  

.two-column .colC .blankMainHeader{ 
	position: relative;
	background: #CCC;
	margin: 28px 0 24px;
	width: 100%;
	height: 10px;
        text-align: left;
}
.two-column .colC .blankMainHeader h2 {
	float: left;
	background: #FFF;
	padding-right: 10px;
	margin-top: -7px;
}
.four-column .colC .blankMainHeader,
.four-column .colD .blankMainHeader,

.two-column .colC h2 { 
    font-size: 20px; 
     background: #FFF;
    padding-right: 10px;
}
.two-column .colC h3 { 
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.two-column .wrapper{
    width: 92%;
    margin: 0 0 25px auto;
}
/*Paragraph------------------------------------------------------------------- */   

p { margin: 10px 0; }

/*Transitions----------------------------------------------------------------- */   

a {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/* =============================================================================
   Colours - Font and BG colours (Solid BG colours only - not imgs)
   ========================================================================== */

body, a:hover { color: #555; }

nav a, #bannerContent h2, .boxStyle h2 { color: #fff; }
a { color: #4A762B; text-decoration: none; border-bottom: 1px dashed #4A762B;}
.main .colC .news-archive a, .main .colC .tourneysNav a, .pagination a, .colA a, .filtersNav a{border:none;}
nav a:hover, nav .current a, footer a:hover { color: #ccc; text-decoration: none; border:none}

a.fancybox-close, a.fancybox-left, a.fancybox-right{
    border-bottom: none;
}

footer, footer a, #bannerTestimonials h2 { color: #4c4c4c; border:none}

header a{ border: none;}
blockquote:before, blockquote:after { color: rgba(0,0,0,0.04); }

.boxStyle h2 {
    background: #ffa005; 
    background-image: linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
    background-image: -o-linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
    background-image: -moz-linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
    background-image: -webkit-linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
    background-image: -ms-linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
}

/* =============================================================================
   Form Styles
   ========================================================================== */

input[type="text"], input[type="email"], input[type="password"], textarea , select{
	background: #f5f5f5;
	color: #8b8b8b;
	border: 1px solid #bebebe;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 8px 10px;
	margin-bottom: 10px;
}
label { 
	line-height: 24px;
        float:left;
        width: 135px;
}
textarea{
    width: 90%;
    max-width: 485px;
}

/* =============================================================================
   Header
   ========================================================================== */

header {
    position: fixed; 
    padding: 0;
    height: 124px;
    width: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
} 
#ul-h1{
    font-size: 28px;
    width: 100%;
    max-width: 960px;
    list-style:none;
    color: #ffffff;
    margin: 0 auto;
    padding: 0;
    height: 70px;
    background-color: rgba(74,118,43, 0.83);
    -moz-box-shadow: 1px 1px 0px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 0px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 0px rgba(0,0,0,0.12);
}
#ul-h1 a, #ul-h1 a:hover, #ul-h1:visited{
    color: #ffffff;
}
#ul-h1 li {
    display: inline-block;
    padding-top: 10px;
    width: 25%;
    text-align: left;
    margin: 0;
    padding-left: 0;
}
#ul-h1 .logo{
    margin-left: 20%;
}
#ul-h1 li.li-h1{
    text-align:center;
    font-family: "Playfair Display", serif;
    width: 47.9%;
}
#ul-h1 li#li-menu{
    text-align:right;
}
nav, #monav {
    width: 100%;
    max-width: 960px;
    background: #222;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
}
#monav{
    display:none;
}
nav ul {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 100%;
    max-width: 960px;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 14px 28px;
    color: #fff;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
nav ul li:hover, #monav ul li:hover { background: #333; color: #dedede; }

nav ul li:first-child { background: none; }

nav ul li a, #monav ul li a {
    font-size: 15px;
    text-decoration: none;
    border:none;
}
.icon-menu:before{
    content:"\e602";
    color: #ffffff;
}
#momenu{ 
    display:none;
    cursor:pointer;
}
/* =============================================================================
   Templates
   ========================================================================== */   
   
.colA, .colB, .colD, .colC, .colE, .colF { float: left; }
.four-column .colA, .two-column .colA { 
    width: 100%;
    max-width: 960px;
    border-bottom: 1px solid #dedede;
    margin: 0 auto;
}
.four-column .colA{
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    background-color: rgba(255, 255, 255, 0.45);
}
.two-column .colA{    
    background-color:#fff;     
    padding: 0;
    border-bottom: 0;
}

.four-column .colC, .colE {
    width: 45%;
    max-width: 640px;
    margin-left: 5%;
}
.colE{
    width: 35%;
}
.two-column .colB { 
    width: 63%;
    max-width: 832px;
    margin-top: 0;
}
.two-column .main .colC { 
    width: 32%;
    max-width: 435px;
}
.four-column .colD, .colF { 
   width: 45%;
   max-width: 640px;
   margin-left: 5%;

}
.colF{
    margin-left: 0;
    margin-right: 5%;
    text-align:right;
    width: 55%;
}
.colG{
    width: 50%;
    margin: 0 auto;
}

.four-column .main,  .two-column .main, .error .main { 
    clear: both; 
    float: left;
    display: block; 
    padding: 10px 22px 80px 22px;
    background-color: #fff;
    border: 1px solid #dedede;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin: 15px auto;
    border-left: 0;
    border-right: 0;
}
.two-column .main{
    padding: 0;
    margin-top: 0;
    background: url('/themes/LondonFencing/img/tileColC.png') repeat-y scroll 65% 0 #FFF;
    /*background-position-x: 65%;*/
}
.error .main{
    margin-top: 0; 
}
/* section { margin-top: 30px; } */
   
/* =============================================================================
   Specific Styles
   ========================================================================== */

/*Btn Style------------------------------------------------------------------ */   

a.btnStyle, .btnStyle, #goog-wm-sb {
    text-align: center;
    background: #4a762b; 
    border: none;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    font-size: 12px;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-style: italic;
    margin-top: 10px;
    line-height: normal;
}

a:hover.btnStyle, .btnStyle:hover, #goog-wm-sb:hover {
    background: #569c1c;
}

a:active.btnStyle #goog-wm-sb:active {
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12);
    box-shadow: 0 0 2px rgba(0,0,0,0.12);
    position: relative;
    top: 1px;
}

/*PhotoGalleryWidget-------------------------------------------------------- */

.colA ul {
    list-style: none;
    margin: 20px 0 0px 0;
    padding: 0 0 20px 24px;
    background-color: #fff;
}
.colA ul li {
    list-style:none;
    padding:10px 0 10px 0;
    display:inline-block;
    vertical-align: middle;
    text-align:center;
}
.banner-container{
    width: 100%;
    background-color: #ffffff;
    margin: 0;
    padding: 10px 0;
}
.banner-scroller{
    width: 95%;
    margin: 0 auto;
    height: 130px;
    overflow:hidden;
    max-width: 840px;
}
.colA ul.banner{
    margin: 0;
    background-color: transparent;
    padding: 0;
}
.colA ul.banner li{
    margin-right: 10px;
}
#banner-arrows, #inner-banner-arrows{
    width: 99%;
    max-width: 960px;
    height: 50px;
    position: absolute;
    top: 130px;
    margin-left: 0.5%;
}
#inner-banner-arrows{
    background-color: rgba(0,0,0, 0.15);
    width: 100%;
    margin-left: 0;
    height: 20px;
    top: 80px;
    display: none;
}
#banner-arrows span, #inner-banner-arrows span{
    display:inline-block;
    width: 49.3%;
    margin:0;
    padding:0;
}
#banner-arrows #span-arrow-next, #inner-banner-arrows #span-arrow-next{
    text-align:right;
    
}
#banner-arrows a, #inner-banner-arrows a {
    display: inline-block;
    background-color: #444444;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
    text-align:center;
    cursor:pointer;
}

#inner-banner-arrows a{
    background-color: transparent;
    height: 20px;
    width: 20px;
}
.icon-arrow-right:before{
    content:"\e605";
    text-shadow: 2px 1px #6a6a6a;
}
.icon-arrow-left:before{
    content: "\e603";
    text-shadow: -2px 1px #6a6a6a;
}
.icon-arrow-left:before, .icon-arrow-right:before{
    color: #ffffff;
    line-height: 1.8;
}
#inner-banner-arrows .icon-arrow-left, #inner-banner-arrows .icon-arrow-right{
    font-size: 16px;
}
#inner-banner-arrows .icon-arrow-left:before, #inner-banner-arrows .icon-arrow-right:before{
    line-height: 0.8;
}
#banner-arrows a:hover, #inner-banner-arrows a:hover { background: #4a762b; }

.colA .homeThumb, .colA .homeThumbB {
    opacity: 0.7;
    filter: alpha(opacity=70);
    border: 5px solid #d5d5d5;
    cursor:pointer;
    width: 100px;
    height: 100px;
}
.colA .innerThumb{
    opacity: 0.7;
    filter: alpha(opacity=70);
    cursor:pointer;
    height: 100px;
}

.colA .homeThumbB, #intermediate .colA .homeThumb:hover, #beginner .colA .homeThumb:hover, .colA .innerThumb:hover {
	opacity: 1.0;
  	filter: alpha(opacity=100);
}

#homeGallery {
    width: 100%;
}
#homeGallery .primeImg {
    width:960px;
    height:310px;
    margin:0 auto;
    padding:0;
    background-color:transparent;
}
.primeImg img{
    position:absolute;
    margin-top: 0;
}
.banner-inner-scroller{
    width: 100%;
    overflow:hidden;
    height: 100px;
}
.two-column .colA ul{
   min-width: 100%;
   margin: 0;
   padding: 0;
   height: 100px;
}
.two-column .colA ul li{
    /*min-width: 14%;*/
    margin:0;
    padding: 0;
}

/* Home callouts -------------------------------------------------------------*/

.callout{
    width: 90%;
    max-width: 640px;
}
.callout h2 {
    background: url('/themes/LondonFencing/img/title_bg.gif') 115% 50% no-repeat;
}
    
.callout img, .tournaments img { margin:0; padding:0; border:none; float: right;padding-left: 3px; }
.tournaments img{padding: 4px 3px 0 0}
.callout .bordered, .tournaments .bordered, .news-archive .bordered {
    border-top: 1px solid #E0E0E0;
    padding-top: 20px;
    
}
#latestNews h3 {
    line-height: 15px;
    margin-top: 30px;
    padding: 0;
}
#latestNews h4, .news-article h4{
    font-style: italic;
}

.lowlight{
    color: #909090;
}
   
#practiceWidget h4, #tourneyWidget h4{ text-transform: uppercase; margin: 0; display: block; padding-top: 20px; }
#practiceWidget h2, #tourneyWidget h2 { margin-bottom: 5px; }
#practiceWidget p, #tourneyWidget p { margin-bottom: 20px; }

#latestNews { margin-bottom: 50px; }
#practiceWidget{
    margin-bottom: 80px;
}
.callout ul{
    width: 100%;
    padding: 0;
    margin: 0 0 50px 0;
    list-style:none;
}
.callout ul li{
    margin-top: -70px;
    text-align:right;
    width: 40%;
    margin-left: 60%;
}
.callout ul li:first-child{
    margin-top: 0;
    text-align:left;
    width: 60%;
    margin-left: 0;
}
.moreTournaments{ margin-top: 20px; }

.icons{
    background: #444;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin-left: 3px;
    display:inline-block;
    text-align:center;
}
.icon-location, .icon-plus, .icon-link{
    line-height: 1.7;
}
.icon-location:before, .icon-plus:before, .icon-link:before{
    color: #ffffff;
    font-size: 22px;
    text-shadow: 1px 1px #3a3a3a;
}
.icon-location:before{
    content: "\e600";
}
.icon-plus:before{
    content: "\e604";
}
.icon-link:before{
    content: "\e601";
}
.green, .blue, .gray{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.green { 
    background: #4a762b; 
}
.blue { 
    background: #2e567f;
}
.gray { 
    background: #444;
	 
}
.blue:hover, .gray:hover { background: #4a762b; }
.green:hover { background: #2e567f; }
.tourneysNav, .filtersNav {margin-bottom: 70px;}
.tourneysNav ul, .filtersNav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*.tourneysNav ul li:before {
    content:'\2192';
    color:#4A762B;
    font-size:20px;
    font-weight: bold;
}
.tourneysNav .clearFilter:before {
    content:'\21B5';
    font-weight: normal;
}*/
.tourneysNav ul li, .filtersNav ul li{
    margin: 0;
    padding: 10px 0 10px 5px;
    border-top: 1px solid #ddd;
}
.tourneysNav ul li:first-child, .filtersNav ul li:first-child{
    border: none;
}

.tourneysNav a, .filtersNav a{
    color: #777;
    border:none;
}
.tourneysNav a:hover, .filtersNav a:hover{
    font-style: italic;
}
.tourneysNav .icons, .two-column .colB .icons, #practiceSideNav .icons, .filtersNav .icons{
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 25px;
    display:inline-block;
}
.two-column .colB .icons, #practiceSideNav .icons{
    float:none;
}
.tourneysNav .icon-arrow-right, .filtersNav .icon-arrow-right{
    font-size: 14px;
    vertical-align: text-top;
    line-height: 1.8;
}
.tourneysNav .icon-arrow-right:before, .filtersNav .icon-arrow-right:before{
    line-height: 1.9;
    font-size: 14px;
}
.two-column .colB .icon-link, .two-column .colB .icon-plus, #practiceSideNav .icon-location, 
#practiceSideNav .icon-plus{
    line-height: 0.75;
}
.two-column .colB .icon-link:before, .two-column .colB .icon-plus:before,
#practiceSideNav .icon-location:before, 
#practiceSideNav .icon-plus:before{
    font-size: 16px;
}

.tournaments ul{
    width: 100%;
    padding: 0;
    margin: 0;
    list-style:none;
    min-height: 55px;
}
.tournaments li{
    text-align:right;
    width: 30%;
    margin-left: 70%;
    margin-top: -45px;
}
.tournaments li:first-child{
    margin-top: 0;
    text-align:left;
    width: 70%;
    margin-left: 0;
}

/* Col C Widget Lists
----------------------------------------------------------------------------------- */
.colC .blankBodyMainCap{
    padding-top: 1px;
}
.colC .blankBodyMainCap ul, #regSideNav ul, .news-archive ul,
#practiceSideNav ul{
    list-style: none; 
    padding: 0; 
    margin: 0;
}
#practiceSideNav ul{
    height: 70px;
    padding-bottom: 20px;
}
#practiceSideNav ul.bordered{
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
.colC .blankBodyMainCap ul li, #regSideNav ul li, .news-archive li{
    margin: 0;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #ddd;
}
.colC .blankBodyMainCap ul li:last-child, #regSideNav ul li:last-child, .news-archive li:last-child,
#practiceSideNav ul li:last-child{
    border:none;
}
.colC .blankBodyMainCap span:nth-child(odd), #regSideNav span:nth-child(odd){
    color: #4A762B; 
    font-weight: bold;
}
#practiceSideNav ul li{
    width: 40%;
    text-align:right;
    margin-top: -70px;
    margin-left: 60%;
}
#practiceSideNav ul li:first-child{
    width: 60%;
    text-align:left;
    margin-top: 0;
    margin-left: 0;
}


/* Media Gallery
------------------------------------------------------------------------------------ */
.mediaGallery{ list-style:none; }
.mediaGallery li {
    list-style: none;
    padding: 10px 12px 10px 12px;
    display: inline;
}

/* Registration
-------------------------------------------------------------------------------------*/
#dvAConsent, #dvMConsent{
    background-color:#fff;
    width: 840px;
    padding: 10px;
}
#btnAdult, #btnMinor{
    text-align: center;
    cursor:pointer;
}
.termsTitle, .termsForm{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}
.termsBtn{
    text-align:center;
    margin: 10px 0 10px 0;
}
.two-column .colB small{
    display: block;
    margin: -5px 0 10px 135px;
}
/*Blog---------------------------------------------------------------------- */

.archive-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.news-archive ul li a {color: #4A762B; font-weight: bold; font-size: 16px;border:none;}
.news-archive ul li a:hover{ color: #777;}

/*Pagination-------------------------------------------------------------- */

.pagination {
    display: block;
    height: 100px;
    margin-top: 50px;
}
.pagination a, .pagination .previous, .pagination .next{
    padding: 10px;
    background-color: #f3f3f3;
    color: #777;
    border: 1px solid #ddd;
}
.pagination a.current{
    color: #4a762b;
    border: 1px solid #4a762b;
}
.pagination .disabled{
    color: #ddd;
}
.pagination a:hover{
    font-style: italic;
}
/*Box Style----------------------------------------------------------------- */

.boxStyle {
    width: 100%;
    position: relative;
}

.boxStyle h2 {
    width: auto;
    margin: 0;
    padding: 8px 18px 6px;
    display: inline-block;
    zoom:1; *display: inline;
    font-size: 26px;
    position: absolute;
    top: 10px;
}

.boxStyle img {
    border: 5px solid #f2f2f2;
}
/* =============================================================================
  Widgets
   ========================================================================== */

.two-column .colC li { margin-top: 0; }

/* =============================================================================
   Footer
   ========================================================================== */
footer { 
    padding: 0px 0 10px; 
    font-size: 11px; 
    float: left;
    clear: both;
    width: 100%;
    max-width: 960px;
    line-height: normal;
    background-color:#222;
    margin: 0 auto;
    color: #fff;
    margin-top: -14px;
}
footer div{ 
    margin: 0; 
    float:left;
    width: 50%;
    height: 60px;
    vertical-align: middle;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    
}

footer ul li {
    display: inline-block;
    margin: 0;
    height: 40px;
}
.colE li{
    margin: 30px 10px 0 0;
}
.colF li:first-child{
    margin-top: 30px;
}
#footerTag { float: right; }
footer a{color: #FFF}

/* ===================================================== 
    ERROR PAGE
========================================================
*/
.error h2{
    font-family: "Playfair Display", serif;
    color: #2e567f;
    font-size: 48px;
    letter-spacing: 0.3rem;
    text-shadow: 2px 2px #dddddd;
    width: 100%;
    background: url('/themes/LondonFencing/img/title_bg.gif') 100% 50% no-repeat;
}
.error #goog-fixurl ul{
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}
.error #goog-fixurl #goog-wm-sb{
    border-radius: 0 3px 3px 0;
}
.error #goog-fixurl #goog-wm-qt{
    border-radius: 3px 0 0 3px;
    padding: 7px;
}
/* Alert Boxes
--------------------------------------------------------------------------------------------*/

.alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty {
    width:90%;
    padding:10px 10px 15px 45px;
    margin:20px 0 10px 0;
    color:#000000;
    background-position: 5px 10px;
    background-repeat:no-repeat;
    line-height: 16px;
}

.alertBoxFunctionGood {
	background-color:#D3FFD4;
	border: 1px solid #55FF49;
}

.alertBoxFunctionBad {
	background-color:#FFD4D4;
	border: 1px solid #FF4A4B;
}

.alertBoxFunctionWarn {
	background-color:#FFFDD5;
	border: 1px solid #FDCA52;
}

.alertBoxFunctionEmpty {
	background-color:#F5F5F5;
	border: 1px solid #E5E5E5;
	color:#666666;
}

.alertBoxFunctionGood a, .alertBoxFunctionBad a, .alertBoxFunctionWarn a, .alertBoxFunctionEmpty a { color:#0000FF; border:none;}
.alertBoxFunctionGood a:hover, .alertBoxFunctionBad a:hover, .alertBoxFunctionWarn a:hover, .alertBoxFunctionEmpty a:hover { color:#0000FF; }


/*datepicker*/
.ui-corner-all{border-bottom:none;}


/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */
@media only screen and (max-width: 960px) {
     
    #homeGallery .primeImg{
        min-height: 100px;
        max-height: 280px;
        overflow: visible;
        width: 100%;
        padding: 0;
    }
    #homeGallery .primeImg img{
        width: 100%;
        height: auto;
        max-height: 280px;
        border: none;
        margin-top: 0;
    }
    nav ul li{
        padding: 14px 19px;
    }
    .colA ul.banner{
        width: 95%;
    }
    .callout h2{
        background-position-x: 210%;
    }
    
}
@media only screen and (max-width: 800px){
    header{
        height: 60px;
        border-bottom: 1px solid #4a762b;
        max-width: 100%;
        left: auto;
        right: auto;
    }
    #ul-h1{
        height: 60px;
    }
    #ul-h1.jpm{
        background-color: rgba(74,118,43, 1.0);
    }
    #ul-h1 li:first-child{
        display:none;
        width: 0;
    }
    #ul-h1 li.li-h1{
        text-align:left;
        width: 80%;
        margin-top: 8px;
        vertical-align:top;
        text-indent: 2.5%;
    }
    #ul-h1 li#li-menu{
        width: 17%;
        line-height: 1.4;
    }
    #momenu{
        display: inline;
    }
   /* #monav{
        display:initial;
    }*/
    nav{
        display:none;
    }
    nav #momenu-logo{
        display:list-item;
    }
    nav ul li{
        display:list-item;
        text-align:left;
    }
    #container{
        margin-top: 61px;
    }
    .callout h2{
        background-position-x: 250%;
    }
    .colE, .colF{
        width: 100%;
        margin: 0;
        text-align: left;
    }
    .colE ul, .colF ul{
        width: 90%;
        margin: 0 auto;
    }
    #jPanelMenu-menu{
        overflow-y: auto !important;
    }
    .error .colG{
        width: 90%;
    }
    .two-column .colB form label{
        width: 100%;
    }
    .alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty {
        width:83%;
    }
    #practiceSideNav ul{
        height: initial;
    }
    #practiceSideNav ul li, #practiceSideNav ul li:first-child{
        width: 100%;
        text-align:left;
        margin-top: 10px;
        margin-left: 0;
    }
}
@media only screen and (max-width: 760px){
    .four-column .main .colC, .four-column .main .colD, .two-column .main .colC, .two-column .main .colB{
        width: 100%;
        margin-left: 0;
        max-width: 100%;
    }
    .two-column .main{
        background-image: none;
    }
    .two-column .main .colB{
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;
    }
    .two-column .wrapper{
        width: 90%;
        margin: 0 auto;
    }
    .callout{
        width: 90%;
        margin-left: 5%;
    }
    .callout h2{
        background-position-x: 100%;
    }
    .two-column .colB form label{
        width: 135px;
    }
    .alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty {
        width:90%;
    }
    #banner-arrows{
        top: 100px;
    }
    #banner-arrows span, #inner-banner-arrows span{
        width: 49.3%;
    }
}
@media only screen and (max-width: 600px){
    .banner li.arrow{
        display:none;
    }
    #homeGallery .primeImg, #homeGallery .primeImg img{
        max-height: 202px;
    }
    #banner-arrows{
        top: 80px;
    }
    #banner-arrows a{
        background-color: rgba(0,0,0, 0.3);
    }
    .banner-scroller{
        max-width: 550px;
    }
    .colA ul.banner{
        width: 100%;
    }
    .colA .homeThumb, .colA .homeThumbB{
        width: 90px;
        height: 90px;
    }
    .colF li:first-child {
        margin-top:0;
    }
    .two-column form{
       width: 90%;
    }
    .two-column .colB form label, .two-column .colB input[type="text"], .two-column .colB input[type="email"], 
    .two-column .colB input[type="tel"], .two-column .colB input[type="url"], .two-column .colB input[type="number"]{
        width: 100%;
    }
    .two-column .colB textarea{
        width: 100% !important;
    }
    .two-column .colB small{
        margin-left: 0;
    }
   
}
@media only screen and (max-width: 540px){
    #homeGallery .primeImg, #homeGallery .primeImg img {
        max-height: 175px;
    }
    #banner-arrows{
        top: 65px;
    }
    .error h2{
        background-position-x: 110%;
    }
    .error #goog-fixurl #goog-wm-qt{
        width: 95%;
    }
    .error #goog-fixurl #goog-wm-qt, .error #goog-fixurl #goog-wm-sb{
        border-radius: 3px;
    }
    .alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty {
        width:88%;
    }
}
@media only screen and (max-width: 440px){
    #homeGallery .primeImg, #homeGallery .primeImg img{
        max-height: 135px;
    }
    #banner-arrows{
        top: 35px;
    }
    .callout h2{
        background-position-x: 180%;
    }
    .error h2{
        background-position-x: 200%;
    }
    #ul-h1 li.li-h1 {
        font-size: 20px;
    }
    .colF{
        height: 70px;
    }
    .tournaments ul li{
        margin-bottom: 20px;
    }
    .tournaments ul li, .tournaments ul li:first-child {
        margin-top: 0;
        text-align: left;
        width: 100%;
        margin-left: 0;
    }
    .tournaments ul li:first-child{
        margin-bottom: 20px;
    }
    .alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty {
        width:84%;
    }
    #loginBox span.label, #loginBox span.nfo{
        width: 100%;
    }
    #loginBox span.nfo{
        margin-left: 0;
    }

}
@media only screen and (max-width: 350px){
    
    .colE ul, .colF ul{
        height: auto;
        margin-top: 10px;
    }
    footer ul li{
        display: list-item;
        height: auto;
    }
    footer .colE li{
        margin: 0;
    }
    .callout h2 {
        background-position-x: 410%;
    }
    .callout ul li{
        margin-bottom: 20px;
    }
    .callout ul li, .callout ul li:first-child {
        margin-top: 0;
        text-align: left;
        width: 100%;
        margin-left: 0;
    }
    .callout ul li:first-child{
        margin-bottom: 20px;
    }
    #homeGallery .primeImg, #homeGallery .primeImg img {
        max-height: 118px;
    }
    .error h2{
        background-position-x: 430%;
    }
    .alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty {
        width:80%;
    }
}
@media only screen and (max-width: 280px){
    #ul-h1 li.li-h1{
        font-size: 16px;
        width: 79%;
    }
    #homeGallery .primeImg, #homeGallery .primeImg img {
        max-height: 100px;
    }
    #banner-arrows{
        top: 20px;
    }
    .callout h2 {
        background-position-x: -650%;
    }
    .error h2{
        background: none;
    }
    .alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty {
        width:80%;
        max-width: 145px;
    }
}
@media only screen and (max-width: 600px) and (orientation:landscape), only screen and (max-width: 480px){
    .banner-container{
        display:none;
    }
    .four-column .main{
        margin-top: 0;
    }
}
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Class for fixing inline-block in IE */
.ib { zoom:1; *display: inline; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }


/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
