/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.4; background-image:url('/themes/LondonFencing/img/pattern.jpg');}

body, button, input, select, textarea { font-family: 'Droid Sans', sans-serif; color: #222; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #90DE57; color: #fff; text-shadow: none; }
::selection { background: #90DE57; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }
#loginBox{
    width: 400px;
    padding: 0;
    margin: 10% auto;
}
#loginBox form{
    background-color: white;
    padding: 30px;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
}
#loginBox img{
    margin: 10px 0 10px 120px;
}
#loginBox .loginBoxHead{
    background-color: rgba(74,118,43, 0.83);
}
/* =============================================================================
   Tables
   ========================================================================== */
   
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Clear
   ========================================================================== */
   
.blank .clear, .blank .clearfix, .clear, .blankFooter {
	height: 0;   
} 
   
   
/* ==|== primary styles =====================================================
   Author: Resolution Interactive Media
   ========================================================================== */

body {
    font-family: 'Droid Sans', 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    position: relative;
}

#container {
    width: 960px; 
    margin: 0 auto;
    position: relative; 
    z-index: 3; 
    clear: both;
    padding: 0;
    z-index: 2;
}

#content {
    float: left;
    clear: both;
    z-index: 2;

}

.two-column #content{
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
}

h1 { font-size: 28px; margin-top: 0; color:#fff }
header h1 { margin-top: 20px; padding-bottom: 10px; }
h2 { font-size: 24px; color: #555;text-transform: uppercase; }
h3 { font-size: 18px; }
h4 { font-size: 15px; color: #707070; }
h5 { font-size: 13px; }
h6 { font-size: 11px; }

h1, h2, h3 {font-weight: bold}


#twitter h6 { padding: 0 0 0 10px; }

.left { float: left; }
.right { float: right; }

/*h2 page title---------------------------------------------------------------- */  
 
.two-column #colC .blankMainHeader { text-align: left; }

.two-column #colC .blankMainHeader{ 
	position: relative;
	background: #CCC;
	margin: 28px 0 14px;
	width: 100%;
	height: 10px;
}
.two-column #colC .blankMainHeader h2 {
	float: left;
	background: #FFF;
	padding-right: 10px;
	margin-top: -7px;
}
.four-column #colC .blankMainHeader,
.four-column #colD .blankMainHeader,
.four-column #colE .blankMainHeader, {
	display: block;
	width: 280px;
	margin: 0 0 10px;
}
.two-column #colC h2 { 
    font-size: 20px; 
     background: #FFF;
    padding-right: 10px;
}

/*Paragraph------------------------------------------------------------------- */   

p { margin: 10px 0; }

/*Transitions----------------------------------------------------------------- */   

a {
    -moz-transition: all 0.3s linear;
    -webkit-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}


/* =============================================================================
   Colours - Font and BG colours (Solid BG colours only - not imgs)
   ========================================================================== */

body, a:hover { color: #555; }

nav a, #bannerContent h2, .boxStyle h2 { color: #fff; }
a { color: #4A762B; text-decoration: none; border-bottom: 1px dashed #4A762B}
nav a:hover, nav .current a, footer a:hover { color: #ccc; text-decoration: none; border:none}

footer, footer a, #bannerTestimonials h2 { color: #4c4c4c; border:none}

header a{ border: none;}
blockquote:before, blockquote:after { color: rgba(0,0,0,0.04); }

.boxStyle h2 {
    background: #ffa005; 
    background-image: linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
    background-image: -o-linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
    background-image: -moz-linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
    background-image: -webkit-linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
    background-image: -ms-linear-gradient(bottom, #ff9004 0%, #ffb506 100%);
}

/* =============================================================================
   Form Styles
   ========================================================================== */

input[type="text"], input[type="email"], input[type="password"], textarea , select{
	background: #f5f5f5;
	color: #8b8b8b;
	border: 1px solid #bebebe;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	padding: 8px 10px;
	margin-bottom: 10px;
}
label { 
	line-height: 24px;
}

/* =============================================================================
   Header
   ========================================================================== */

header { 
    width: 958px; 
    position: relative; 
    text-align: center; 
    padding: 10px 0 0 0;
    z-index: 2;
    background-color: rgba(74,118,43, 0.83);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    border-left: 1px solid #DEDEDE;
    border-right: 1px solid #DEDEDE;
} 
#headerBg {
	position: absolute;
	height: 693px;
	width: 100%;
	top: 0;
	z-index: 1;
}

nav {
    width: 100%;
    clear: both;
    /*background: rgba(0,0,0,0.83);*/
    background: #222;
    margin: 20px 0 0 0;
    text-transform: uppercase;
    font-weight: 300;
    color: #fff;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

nav ul li {
    display: inline-block;
    zoom:1; *display: inline;
    margin: 0;
    padding: 14px 28px;
    color: #fff;
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
nav ul li:hover { background: #333; color: #dedede; }

nav ul li:first-child { background: none; }

nav ul li a {
    font-size: 15px;
    text-decoration: none;
    border:none;
}
/* =============================================================================
   Templates
   ========================================================================== */   
   
#colA, #colB, #colD { float: left; }
#colC, #colE { float: right; }
.four-column #colC { float: left; }

.two-column #colB { width: 600px; margin-right: 25px; }

.four-column #colA, .two-column #colA { 
	width: 958px; 
	border-left: 1px solid #dedede; 
	border-right: 1px solid #dedede; 
	border-bottom: 1px solid #dedede;
}
.four-column #colA{
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
}
 .two-column #colA{    background-color:#fff;     }
.four-column #colB { width: 100%; }
.four-column #colC {width: 440px}
.two-column #colC { 
	width: 268px;
	background:url(img/tileColC.png) repeat-y;
	padding-left: 20px; 
}
.four-column #colD { width: 440px; margin-left: 34px; }
.four-column #colE { width: 280px; }
.four-column #colF { width: 100%; clear: both; }

.four-column .main,  .two-column .main { 
    clear: both; 
    float: left;
    display: block; 
    margin: 15px 0; 
    padding: 10px 22px 80px 22px;
    background-color: #fff;
    border: 1px solid #dedede;
}
.four-column .main {
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
}
 .two-column .main { margin-top: 0px; background: url(img/tileColC.png) repeat-y #FFF; background-position-x: 647px; }
 .two-column #colC .tooLong { position: relative; }
/* section { margin-top: 30px; } */
   
/* =============================================================================
   Specific Styles
   ========================================================================== */

/*Btn Style------------------------------------------------------------------ */   

a.btnStyle, .btnStyle {
    text-align: center;
    background: #4a762b; 
    border: none;
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.12);
    font-size: 12px;
    color: #FFF;
    padding: 8px 20px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    font-style: italic;
    margin-top: 10px;
    line-height: normal;
}

a:hover.btnStyle, .btnStyle:hover {
    background: #569c1c;
}

a:active.btnStyle {
    -moz-box-shadow: 0 0 2px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.12);
    box-shadow: 0 0 2px rgba(0,0,0,0.12);
    position: relative;
    top: 1px;
}

/*Address Box--------------------------------------------------------------- */

#addressWrap { padding: 30px; background: #f5f5f5; border-bottom: 1px solid #CCC; z-index: 1; width: 900px; margin-left: -30px; }

#address, .four-column #colF .blankMainHeader {
	display: block;
	width: 900px;
	background: url(img/headingBorder.png) repeat-x 0 10px #f5f5f5;
	text-align: center;
	margin-bottom: -3px;
}
.four-column #colF .blankMainHeader { background-color: #fafafa; }

#address h3 { 
	background: #f5f5f5; 
	padding: 0 10px; 
	margin: 0;
	width: auto; 
	display: inline-block; 
}

/*PhotoGalleryWidget-------------------------------------------------------- */

#colA ul {
    list-style: none;
    margin: 20px 0 0px 0;
    padding: 0 0 20px 24px;
    background-color: #fff;
}
#colA ul li {
    list-style:none;
    padding:10px 12px 10px 12px;
    display:inline;
}
#colA ul li:last-child { padding: 10px 23px 10px 0; }
#colA ul li:first-child { padding: 10px 0 10px 23px; }

.banner li#arrow {
	display: inline-block;
	background: #444;
	padding: 11px 13px !important;
	width: 24px;
	height: 28px;
	border-radius: 25px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	-moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.banner li#arrow:hover { background: #4a762b; }

#colA .homeThumb, #colA .homeThumbB {
	opacity: 0.7;
  	filter: alpha(opacity=70);
    border: 5px solid #d5d5d5;
}

#colA .homeThumbB, #intermediate #colA .homeThumb:hover {
	opacity: 1.0;
  	filter: alpha(opacity=100);
}

#homeGallery {
    width: 100%;
    float:left;
    clear:both;
    margin-bottom: 20px;
}
#homeGallery .primeImg {
    /*width: 630px;*/
    width: 958px;
    height: 310px;
    margin: 0px;
    float: left;
    clear:left;
}
#homeGallery .imgTitle {
    width: 330px;
    height: 310px;
    margin: 0 0 0 630px;
    clear:right;
    background-color:rgba(0,0,0,0.83);
}
.banner .next, .banner .prev {cursor: pointer}

#intermediate #colA li:first-child, #intermediate #colA li:last-child { display: none; }

#intermediate #colA ul { padding-left: 70px; }

/* Home callouts -------------------------------------------------------------*/


.callout h2 {
    background: url('/themes/LondonFencing/img/title_bg.gif') 200px 50% no-repeat;
}
    
.callout img, .tournaments img { margin:0; padding:0; border:none; float: right;padding-left: 3px; }
.tournaments img{padding: 4px 3px 0 0}
.callout .bordered, .tournaments .bordered {
    border-top: 1px solid #E0E0E0;
    padding-top: 20px;
    
}
#latestNews h3 {
    line-height: 15px;
    margin-top: 30px;
    padding: 0;
}
#latestNews h4, .news-article h4{
    font-style: italic;
}

.lowlight{
    color: #909090;
}
   
#practiceWidget h4, #tourneyWidget h4{ text-transform: uppercase; margin: 0; display: block; padding-top: 20px; }
#practiceWidget h2 { margin-bottom: 5px; }
#practiceWidget p { margin-bottom: 20px; }

#practiceWidget, #latestNews { margin-bottom: 50px; }

.moreTournaments{ margin-top: 20px; }

.icons , .iconsM{
    float: right;
    background: #444;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin-left: 3px;
}
.icons{
      padding: 15px 15px !important;
}
.iconsM {
    padding: 5px 5px !important;
}
.green, .blue, .gray{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
.green { 
    background: #4a762b; 
}
.blue { 
    background: #2e567f;
}
.gray { 
    background: #444;
	 
}
.blue:hover, .gray:hover { background: #4a762b; }
.green:hover { background: #2e567f; }

.tourneysNav ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
/*.tourneysNav ul li:before {
    content:'\2192';
    color:#4A762B;
    font-size:20px;
    font-weight: bold;
}
.tourneysNav .clearFilter:before {
    content:'\21B5';
    font-weight: normal;
}*/
.tourneysNav ul li{
    margin: 0;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #ddd;
}
.tourneysNav ul li:last-child{
    border: none;
}

.tourneysNav a{
    color: #777;
    border:none;
}
.tourneysNav a:hover{
    font-style: italic;
}
.tourneysNav img{
    padding-left: 4px;
    margin-top: -5px;
}
/* Col C Widget Lists
----------------------------------------------------------------------------------- */
#colC .blankBodyMainCap ul, #regSideNav ul, .news-archive ul  {
    list-style: none; 
    padding: 0; 
    margin: 0;
}
#colC .blankBodyMainCap ul li, #regSideNav ul li, .news-archive ul li  {
    margin: 0;
    padding: 10px 0 10px 5px;
    border-bottom: 1px solid #ddd;
}
#colC .blankBodyMainCap ul li:last-child, #regSideNav ul li:last-child, .news-archive ul li:last-child  {
    border:none;
}
#colC .blankBodyMainCap span:nth-child(odd), #regSideNav span:nth-child(odd){
    color: #4A762B; 
    font-weight: bold;
}


/* Media Gallery
------------------------------------------------------------------------------------ */
.mediaGallery{ list-style:none; }
.mediaGallery li {
    list-style: none;
    padding: 10px 12px 10px 12px;
    display: inline;
}

/* Registration
-------------------------------------------------------------------------------------*/
#dvAConsent, #dvMConsent{
    background-color:#fff;
    width: 840px;
    padding: 10px;
}
#btnAdult, #btnMinor{
    text-align: center;
    cursor:pointer;
}
.termsTitle, .termsForm{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 20px 0;
}
.termsBtn{
    text-align:center;
    margin: 10px 0 10px 0;
}
/*Contact Footer------------------------------------------------------------ */

.four-column #colF .blankMainHeader { margin-bottom: 20px; }

.four-column #contactFooter #colC { margin-right: 30px; }


label { float: left; width: 130px; }
#home label { float: none; }
#home label h6 { display: inline; margin: 0; padding: 0 6px; float: none; }


#home #RQvalALPHName { float:left; width: 228px; }
#home #RQvalPHONPhone_Number { width: 166px; }
#home #RQvalMAILServices { width: 148px; }
#RQvalMAILEmail_Address { width: 206px; }
textarea { width:485px; }

#contactFooter .btnStyle { margin-top: 68px; }

/*Blog---------------------------------------------------------------------- */

.archive-widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.news-archive ul li a {color: #4A762B; font-weight: bold; font-size: 16px;border:none;}
.news-archive ul li a:hover{ color: #777;}

/*Pagination-------------------------------------------------------------- */

.pagination {
    display: block;
    height: 100px;
    margin-top: 50px;
}
.pagination a, .pagination .previous, .pagination .next{
    padding: 10px;
    background-color: #f3f3f3;
    color: #777;
    border: 1px solid #ddd;
}
.pagination a.current{
    color: #4a762b;
    border: 1px solid #4a762b;
}
.pagination .disabled{
    color: #ddd;
}
.pagination a:hover{
    font-style: italic;
}
/*Box Style----------------------------------------------------------------- */

.boxStyle {
    width: 100%;
    position: relative;
}

.boxStyle h2 {
    width: auto;
    margin: 0;
    padding: 8px 18px 6px;
    display: inline-block;
    zoom:1; *display: inline;
    font-size: 26px;
    position: absolute;
    top: 10px;
}

.boxStyle img {
    border: 5px solid #f2f2f2;
}
/* =============================================================================
  Widgets
   ========================================================================== */

.two-column #colC li { margin-top: 0; }

/* =============================================================================
   Footer
   ========================================================================== */
footer { 
    padding: 0px 0 10px; 
    font-size: 11px; 
    float: left;
    clear: both;
    width: 100%;
    line-height: normal;
    background-color:#222;
    color: #fff;
    margin-top: -15px;
}

footer ul {
    float: left;
    list-style: none;
    margin: 20px 0 0 10px;
    padding: 0;
    display: inline
}

footer ul li {
    display: inline-block;
    zoom:1; *display: inline;
    margin: 0 10px;
}

#footerTag { float: right; }
footer a{color: #FFF}
footer div{ display: inline; margin: 10px 20px 10px 10px; float:right;}
    
/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
    
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Class for fixing inline-block in IE */
.ib { zoom:1; *display: inline; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* Alert Boxes
--------------------------------------------------------------------------------------------*/

.alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty {
	width:550px;
	padding:10px 10px 15px 45px;
	margin:20px 0 10px 0;
	color:#000000;
	float:left;
                  background-position: 5px 10px;
                  background-repeat:no-repeat;
                  line-height: 16px;
}

.alertBoxFunctionGood {
	background-color:#D3FFD4;
	border: 1px solid #55FF49;
}

.alertBoxFunctionBad {
	background-color:#FFD4D4;
	border: 1px solid #FF4A4B;
}

.alertBoxFunctionWarn {
	background-color:#FFFDD5;
	border: 1px solid #FDCA52;
}

.alertBoxFunctionEmpty {
	background-color:#F5F5F5;
	border: 1px solid #E5E5E5;
	color:#666666;
}

.alertBoxFunctionGood a, .alertBoxFunctionBad a, .alertBoxFunctionWarn a, .alertBoxFunctionEmpty a { color:#0000FF; border:none;}
.alertBoxFunctionGood a:hover, .alertBoxFunctionBad a:hover, .alertBoxFunctionWarn a:hover, .alertBoxFunctionEmpty a:hover { color:#0000FF; }




/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
