/** Containers
------------------------------------------------------------**/
body{font-size: 11px;}

h2, .two-column #colC .blankMainHeader h2{font-size: 16px;}

hr {width: 230px !important}
#container {
    width: 240px; 
}

header {
    width: 238px;
}

header h1{
    font-size: 16px
}
header h1 img{
    width: 66px;
    height: 30px;
}
nav ul li {
    padding: 8px 10px;
    display:block
}

nav ul li a{
    font-size: 12px;
}
.four-column #colA, .two-column #colA{
    width: 238px;
}
.four-column #colC,.four-column #colD {width: 195px;float:none}

.two-column #colB,.two-column #colC {width: 185px;float:none;margin-right:9px}
.four-column #colD, .two-column #colC {margin-left:0px;}
.two-column #colC{background:none;padding-left: 0px}
.four-column #colD{margin-left:0px;}
#practiceWidget{margin-top:60px}

.alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty{
    width: 135px;float:none;
}

.two-column #colB ul{
    padding: 0px;
    margin-left: 10px;
}

footer ul{
    float: none;
    display: block;
}
footer ul li{
    display:block;
}
footer div{
    float:none;
    display:block;
    margin:10px 0 0 20px;
}

.icons {
    padding: 2px 2px !important;
}
.icons img{
    width: 11px !important;
    height: 11px !important;
    padding: 5px 4px 0 0;
}
.iconsM, .tourneysNav img{
    width: 11px;
    height: 11px;
}
.tournaments img{
    width: 11px;
    height: 11px;
    padding: 1px 0 0 1px;
}
.tourneysNav img{
    padding-left: 1px;
    margin-top: -14px;
}
#RQvalMAILEmail_Address, input[type="text"], input[type="email"], input[type="password"], textarea {
    width: 165px;
}
.pagination a, .pagination .previous, .pagination .next{
    padding: 5px
}

#homeGallery .primeImg{
    width: 238px;
    height: 78px;
}
ul.banner{
    margin-top: 78px;
}
#colA ul{
    padding: 0 0 20px 15px;
}
#beginner #colA ul, #intermediate #colA ul{
    padding-left: 10px;
}
#colA ul li {
    padding: 5px 4px 5px 4px;
}
#colA .homeThumb, #colA .homeThumbB{
    border-width: 2px;
}
.banner li#arrow{
    display:none;
}
