/** Containers
------------------------------------------------------------**/
#container{ width: 320px; }
header { width: 318px;}
header h1{font-size: 18px}
header h1 img{ width: 88px; height: 40px;}
nav ul{display:none;}
nav ul li { padding: 8px 10px;    display:block}
nav ul li a{ font-size: 12px;}
#momenu{ display:block; width: 10px;margin-left:135px}
.four-column #colA, .two-column #colA{  width: 318px;}
.four-column #colC,.four-column #colD {width: 274px;float:none}
.four-column #colD{margin-left:0px;}
#practiceWidget{margin-top:60px}
.two-column #colB,.two-column #colC {width: 248px;float:none}
.four-column #colD, .two-column #colC {margin-left:0px;}
.two-column #colC{background:none;padding-left: 0px}
input[type="text"], input[type="email"], input[type="password"], textarea, #RQvalMAILEmail_Address{    width: 240px;}
.alertBoxFunctionGood, .alertBoxFunctionBad, .alertBoxFunctionWarn, .alertBoxFunctionEmpty{width: 210px;float:none;}
footer ul{float: none; display: block;}
footer ul li{  display:block;}
footer div{ float:none; display:block; margin:10px 0 0 20px;}
.icons { padding: 5px 5px !important;}
.icons img{ width: 14px !important; height: 14px !important; padding: 4px 3px 0 0;}
#homeGallery .primeImg{ width: 318px; height: 103px;}
ul.banner{ margin-top: 103px;}
#colA ul{padding: 0 0 20px 25px;}
#beginner #colA ul, #intermediate #colA ul, #advanced #colA ul, #tournaments #colA ul { padding-left: 10px;}
#beginner #colA ul li:first-child, #intermediate #colA ul li:first-child, #advanced #colA ul li:first-child, #tournaments #colA ul li:first-child { padding: 10px 0 10px 19px; }
#colA ul li { padding: 5px 4px 5px 4px;}
#colA .homeThumb, #colA .homeThumbB{border-width: 3px;}
.banner li#arrow{ display:none;}
.pagination .previous, .pagination .next{display:none;}